<form action="">
  <h1>New Vehicle</h1>
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" (change)="onMakeChange()" name="make" [(ngModel)]="vehicle.make" class="form-control">
      <option value="">---Select---</option>
      <option *ngFor="let item of makes" value="{{item.id}}">
        {{item.name}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select name="" id="model" class="form-control">
      <option value="">---Select---</option>
      <option *ngFor="let m of models" value="{{m.id}}">
        {{m.name}}
      </option>
    </select>
  </div>
  <h2>Features</h2>
  <div *ngFor="let f of features" class="checkbox">
    <label for="feature{{ f.id }}">
      <input type="checkbox" id="feature{{ f.id }}">{{f.name}}
    </label>

  </div>
</form>
